extends layout

block content
    div.w-75.mx-auto
        h5.my-0 Удаление комментариев из исходного кода онлайн
        h6.my-0 Вставьте исходный код в левое поле, выполните очистку и получите результат в правом поле! Попробуйте&nbsp;
            span.fw-bold.text-decoration-line-through потом
            span &nbsp;
            span.fw-bold.text-decoration-underline сейчас
            span.fw-bold !!!
    div.d-flex.justify-content-center
        div.w-75.bg-light.border.border-secondary.border-2.rounded
            div.d-flex.flex-row
                div.flex-fill.my-3.ms-3.me-4
                    textarea#code.w-100.code-input.no-resizable.border.border-dark(rows="20", wrap="off")= code
                div.flex-fill.my-3.me-3
                    textarea#resultCode.w-100.code-input.no-resizable(rows="20", wrap="off", readonly)= resultCode
            div.d-flex.flex-row.justify-content-between.border-top.border-3
                div.my-3.ms-3(style="width: 250px;")
                    select#lang.w-100.form-select.form-select-lg.p-2
                        option(value="JS", selected=lang === "JS") JavaScript
                        option(value="Python" selected=lang === "Python") Python
                div.my-3(style="width: 250px;")
                    button#submit-btn.w-100.btn.btn-success.btn-lg.p-2 Очистить код
                        i.fas.fa-bolt.float-end.pt-1
                div.my-3.me-3(style="width: 250px;")
                    button#copy-btn.w-100.btn.btn-dark.btn-lg.p-2 Копировать
                        i.fas.fa-copy.float-end.pt-1
