extends layout

block content
    div.w-75.mx-auto
        form.w-50.mx-auto.mt-5(method="POST")
            div.mb-3
                label.form-label(for="name") Имя
                input#name.form-control.form-control-lg(name="name", required)
                div.form-text Ваше имя
            div.mb-3
                label.form-label(for="email") Email
                input#email.form-control.form-control-lg(name="email", type="email", required)
                div.form-text На этот email Вам придёт ответ
            div.mb-3
                label.form-label(for="problem") Ошибка
                textarea#problem.form-control(name="problem", required)
                div.form-text Детальное описание Ваших действий, которые привели к ошибке
            button.w-25.btn.btn-primary.btn-lg.p-2(type="submit") Отправить
