html
    head
        meta(charset="utf-8")
        title Тест
    body
        div
            p This is #{name}
        div
            p
                = testName
            p
                = abc